<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <div class="header">
    <div class="container">

      <div class="header-content">
        <div class="header-content__logo"></div>
        <input type="text" class="header-content__search" />
        <div class="header-content__name">Mfecane</div>
        <div class="header-content__face"></div>
      </div>

    </div>
  </div>

  <div class="content">
    <div class="container">

      <div class="upper-grid">

        <div class="item upper-grid_item1">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">100 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/moto.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item upper-grid_item2">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">200 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/moto.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item upper-grid_item3">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/moto.jpg" class="item__image" />
            </div>
          </div>
        </div>

      </div>

      <div class="main-grid">

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/moto.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/moto.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

        <div class="item">
          <div class="item__header-container">
            <div class="item__name">Lorem, ipsum dolor.</div>
            <div class="item__header-menu"></div>
            <div class="item__count">4 items</div>
          </div>
          <div class="item__grid">
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/biba.jpg" class="item__image" />
            </div>
            <div class="item__image-container">
              <image src="../assets/images/albedo.jpg" class="item__image" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
