<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__title-group">
          <img src="../assets/svg/logo.svg" />
          <h1 class="header__title">MFECANE SCULPTS</h1>
        </div>
        <div class="header__login">
          <button class="header__login-button">Login</button>
          <button class="header__login-button">Register</button>
        </div>
        <ul class="nav">
          <li class="nav__link">
            <a href="">sculpts</a>
          </li>
          <li class="nav__link">
            <a href="">figures</a>
          </li>
          <li class="nav__link">
            <a href="">mechanical</a>
          </li>
          <li class="nav__link">
            <a href="">for house</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="main-grid">
          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>

          <div class="main-grid__item item">
            <div class="item__image-container">
              <img class="main-grid__image" src="../assets/images/aliens.png" />
            </div>
            <div class="main-grid__footer">
              <div class="item__footer-left">
                <h2 class="main-grid__title">Art aliens</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item__footer-right">
                <button class="item__button">Get</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
          voluptate atque labore est provident magnam architecto, consectetur
          veritatis omnis modi cumque officia eligendi nihil reprehenderit dicta
          neque ratione sunt. Vitae facere voluptas et, quas tempore repudiandae
          omnis ea dolor libero debitis corrupti eum voluptatum esse harum alias
          est quaerat expedita aliquam a voluptatibus earum ipsa minus nemo.
          Officiis dolore nostrum, consequatur ipsum dolores ipsa, porro quas
          reprehenderit neque quaerat iusto sunt cum sint deleniti, pariatur
          voluptatibus ab quo architecto? Blanditiis minus nihil, quas
          repudiandae ipsam velit deserunt, dolores quia ipsum libero assumenda
          rerum quam dolore magnam sunt totam quasi delectus.
        </p>
      </div>
    </div>
  </body>
</html>
