:root {
  --bg-color: #f0f2f3;
  --accent-color: #38a9dd;
  --accent-color-light: #e5e8e9;
  --color-light: #a3a7a8;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.no-existing-element {
  background: rgb(50, 56, 83);
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

/* Rectangle 1 */

/* position: absolute;
width: 1430px;
height: 1771px;

background: radial-gradient(124.3% 159.86% at 77.8% 12.52%, rgba(85, 109, 171, 0.35) 0%, rgba(0, 0, 0, 0) 100%), #040606; */

body {
  font-family: Montserrat;
  background: var(--bg-color);
  color: #000;
}

.header-content {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: stretch;
}

.header-content__logo {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--accent-color);
}

.header-content__search {
  flex: 1 0 300px;
  max-width: 500px;
  margin-right: auto;
  background: var(--accent-color-light);
  height: 30px;
  border-radius: 3px;
  padding: 2px 4px;
  color: #14475f;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid rgb(193, 200, 201);
}

.header-content__name {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
}

.header-content__face {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--accent-color);
}

.header__login {
  display: flex;
  gap: 12px;
  margin: 40px 0;
}

.heading {
  color: var(--color-light);
  font-weight: 600;
  font-size: 24px;
  margin: 4px 0px;
  background: #fff;
  padding: 6px;
  border-radius: 4px;
}


.upper-grid {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr;
  height: 380px;
  gap: 32px;
  margin: 16px 0px 32px 0;
}

.item {
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.item__header-container {
  flex: 0 0 26px;
  display: grid;
  grid-template-columns: auto 32px;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
}

.item__name {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.item__count {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-light);
}

.item__header-menu {
  grid-row-start:  span 2;
  flex: 0 0 auto;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #ccc;
}

.item__grid {
  min-width: 0;
  min-height: 0;
  background: #fff;
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  padding: 4px;
  border: 1px solid rgb(202, 208, 209);
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.item__grid .item__image-container:nth-child(1) {
  grid-column-start: span 2;
}

.item__grid .item__image-container:nth-child(2) {}

.item__grid .item__image-container:nth-child(3) {}

.upper-grid_item1 .item__grid {
  grid-template-columns: repeat(2, 2fr) 3fr;
  grid-template-rows: 3fr 1fr 2fr;
}

.upper-grid_item1 .item__name {
  font-size: 20px;
}

.upper-grid_item1 .item__image-container:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.upper-grid_item1 .item__image-container:nth-child(2) {}

.upper-grid_item1 .item__image-container:nth-child(3) {
  grid-row-start: span 2;
}

.upper-grid_item1 .item__image-container:nth-child(4) {}

.upper-grid_item1 .item__image-container:nth-child(5) {}


.upper-grid .item__name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.upper-grid .item__header-menu {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.item__image-container {
  overflow: hidden;
}

.item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 300px;
  gap: 24px;
  margin-bottom:100px;
}
