:root {
  --bg-color: #f0f2f3;
  --accent-color: #38a9dd;
  --accent-color-light: #e5e8e9;
  --color-light: #a3a7a8;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

/* Rectangle 1 */

/* position: absolute;
width: 1430px;
height: 1771px;

background: radial-gradient(124.3% 159.86% at 77.8% 12.52%, rgba(85, 109, 171, 0.35) 0%, rgba(0, 0, 0, 0) 100%), #040606; */

body {
  font-family: Montserrat;
  background: var(--bg-color);
  color: #000;
}

.header-content {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: stretch;
}

.header-content__logo {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--accent-color);
}

.header-content__search {
  flex: 1 0 300px;
  max-width: 500px;
  margin-right: auto;
  background: var(--accent-color-light);
  height: 30px;
  border-radius: 3px;
  padding: 2px 4px;
  color: #14475f;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid rgb(193, 200, 201);
}

.header-content__name {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
}

.header-content__face {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--accent-color);
}

.header__login {
  display: flex;
  gap: 12px;
  margin: 40px 0;
}

.heading {
  color: var(--color-light);
  font-weight: 600;
  font-size: 24px;
  margin: 4px 0px;
  background: #fff;
  padding: 6px;
  border-radius: 4px;
}

.upper-grid {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr;
  height: 380px;
  gap: 32px;
  margin: 16px 0px 32px 0;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 300px;
  gap: 24px;
  margin-bottom: 100px;
}
